<!DOCTYPE html>
<html lang="en">
	<head>
        <title>CS @ Illinois Search</title>
      
	</head>
	
	<body  style="position:absolute;top:30%;left:6%;" background="/static/imgaes/a.jpg" font-family: Helvetica; >

        <h1 > 
            <table width = "100%" bgcolor = "#f68024" style="height:100px;" opacity:0.3;>
            <tr>
                <td align = "left" width = "200px"><img src="/static/imgaes/ui.jpg" style="height:100px;"></td>
                <td align = "left" width = "500px"><input type="text" placeholder="which professor do you wanna know?" name="searchQuery" style="width:500px; height:40px; font-size:18px"></td> 
                <td align = "left"><form action="/search">
    <input type="submit" value="Search!" style = "width:100px; height:100px;">
                    </form> </td>
            </tr>
            </table>
        </h1>
        <br/>

       


	</body>


	
</html>

<script>
    //alert("Hello");
</script>